body {
  text-align:center;
  margin: 0 auto;

}

#board {
  width:100%;
  background-color:rgb(192, 201, 84);
  display:block;
  border:solid black 1px;


}

#wrapper {
  width:98%;
  margin:0 auto;
}

#title {
  background-color:slategray;
  text-align:center;
  font-size:3em;
  height:10%;
}

.space {
  height:100px;
  width:100px;
  border-radius:50%;
  background-color:gray;
  margin:7px;
  display:inline-block;
}

.gold {
  background-color:gold;
}
